<!DOCTYPE html>
<html>
<head>
<title>CreeperPP</title>
<meta charset='utf-8'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" rel="stylesheet" />
<style>
p.lead {
    margin-bottom: 5px !important;
}
</style>
</head>

<body>
    <div class="container text-center">
        <h1>Creeper Personality Prediction</h1>

        <br><br>

        <form action="" method="post">
            <div class="form-group">

                <label for="exampleInputEmail1">Twitter username</label>
                <input type="input" class="form-control" class="" name="name" id="name" placeholder="">
            </div>

            <p>
                <button type="submit" class="btn btn-primary">Check</button>
            </p>
        </form>
    </div>
</body>
</html>
